<template>
  <div>
    <app-header/>
    <div class="uk-container">
      <h1>All Series</h1>
      <div v-if="series.length > 0">
        <ul v-for="serie in series">
          <li>
            <div class="uk-card uk-card-default uk-card-small">
              <div class="uk-card-header">
                <div class="uk-grid-small uk-flex-middle" uk-grid>
                  <div class="uk-width-auto">
                    <img class="uk-border" width="40" height="40" src="../../assets/logo.svg">
                  </div>
                  <div class="uk-width-expand">
                    <h3 class="uk-card-title uk-margin-remove-bottom">{{ serie.name }}</h3>
                    <p class="uk-text-meta uk-margin-remove-top"><code>{{ serie.slug }}</code> &dash; <code>{{ serie.longSlug }}</code></p>
                  </div>
                  <div v-if="serie.retired" class="uk-card-badge uk-label uk-label-warning">Retired</div>
                  <div v-if="serie.hiatus" class="uk-card-badge uk-label uk-label-warning">Hiatus</div>
                  <div v-if="serie.hidden" class="uk-card-badge uk-label uk-label-danger">Hidden</div>
                  <div v-if="serie.itunesExcplicit" class="uk-card-badge uk-label uk-label-danger">Explicit</div>
                </div>
              </div>
              <div class="uk-card-body">
                <p>{{ serie.description }}</p>
              </div>
              <div class="uk-card-footer">
                <a href="" class="uk-button uk-button-text">Edit</a>
                <a href="" class="uk-button uk-button-text">Delete</a>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</template>
<style scoped>
  ul {
    padding: 0;
    list-style-type: none;
  }
</style>
<script>
  import api from '../../api'
  import Header from '../partials/Header.vue'
  export default{
    data () {
      return {
        series: []
      }
    },
    components: {
      'app-header': Header
    },
    created () {
      this.getSeries()
    },
    methods: {
      getSeries: function () {
        api.getSeries()
          .then(response => {
            this.series = response.data
          })
      }
    }
  }
</script>
