<template>
  <div v-if="episode">
    <app-header></app-header>
    <div class="uk-container">
      <h1>Episode Editor</h1>

      <form class="uk-grid uk-form-stacked">
        <div class="uk-width-3-4@s">
          <div class="uk-card uk-card-default uk-margin">
            <div class="uk-card-header">
              <h3 class="uk-card-title" v-if="nullEpisodeTitle">New Episode</h3>
              <h3 class="uk-card-title" v-else>{{ episode.title }}</h3>
            </div>
            <div class="uk-card-body">
              <div class="uk-margin">
                <label class="uk-form-label" for="title">Title:</label>
                <input id="title"
                       class="uk-input uk-width-1-1"
                       type="text"
                       v-model="episode.title">
              </div>

              <div class="uk-margin" v-show="episode.title">
                <label class="uk-form-label" for="subtitle">Subtitle:</label>
                <input id="subtitle"
                       class="uk-input uk-width-1-1"
                       type="text"
                       v-model="episode.subtitle">
              </div>

              <div class="uk-margin">
                <label class="uk-form-label" for="series">Series:</label>
                <multiselect
                  id="series"
                  v-model="episode.series"
                  :options="series"
                  :close-on-select="true"
                  :allow-empty="false"
                  deselect-label="Can't remove this value"
                  placeholder="Select Series"
                  label="name">
                </multiselect>
              </div>

              <div class="uk-margin">
                <label class="uk-form-label" for="number">Number:</label>
                <input id="number"
                       class="uk-input uk-width-1-1"
                       type="number"
                       min="0"
                       v-model="episode.number">
              </div>

              <div class="uk-margin">
                <label class="uk-form-label" for="content">Content:</label>
                <textarea id="content"
                          class="uk-textarea uk-width-1-1"
                          rows="12"
                          v-model="episode.content"></textarea>
              </div>

              <div class="uk-margin">
                <label class="uk-form-label" for="description">Description:</label>
                <input id="description"
                       class="uk-input uk-width-1-1"
                       type="text"
                       maxlength="160"
                       v-model="episode.description">
                <p class="uk-text-muted">Try to limit the episode description to 160 characters.</p>
              </div>

              <div class="uk-margin">
                <div class="uk-grid">
                  <div class="uk-width-1-3@m">
                    <div class="uk-card uk-card-body uk-card-small uk-card-default uk-card-default uk-text-center">
                      <label class="uk-form-label">Hidden
                        <input type="checkbox" class="uk-checkbox" v-model="episode.hidden">
                      </label>
                      <p class="uk-text-muted">When an episode is <em>hidden</em>, it will not be visible or accessible from the front end.
                      </p>
                    </div>
                  </div>
                  <div class="uk-width-1-3@m">
                    <div class="uk-card uk-card-body uk-card-small uk-card-default uk-card-default uk-text-center">
                      <label class="uk-form-label">NSFW
                        <input type="checkbox" class="uk-checkbox" v-model="episode.nsfw">
                      </label>
                      <p class="uk-text-muted">When an episode is <em>NSFW</em>, it will be shown as such on its episode page.
                      </p>
                    </div>
                  </div>
                  <div class="uk-width-1-3@m">
                    <div class="uk-card uk-card-body uk-card-small uk-card-default uk-card-default uk-text-center">
                      <label class="uk-form-label">Unlisted
                        <input type="checkbox" class="uk-checkbox" v-model="episode.unlisted">
                      </label>
                      <p class="uk-text-muted">
                        When an episode is <em>unlisted</em>, it is not listed on the front end, but is still directly accessible.
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>


          <div class="uk-card uk-card-default uk-margin">
            <div class="uk-card-header">
              <h3 class="uk-card-title">Debug</h3>
            </div>
            <div class="uk-card-body">
              <label class="uk-form-label uk-text-center">Debug
                <input type="checkbox" class="uk-checkbox" v-model="meta.debug">
              </label>
              <p class="uk-text-muted uk-text-center">Do you want to temporarily see the debug?</p>
              <div v-show="meta.debug">
                <pre>{{ episode }}</pre>
              </div>
            </div>
          </div>


          <div class="uk-card uk-card-default uk-margin">
            <div class="uk-card-header">
              <h3 class="uk-card-title">People</h3>
            </div>
            <div class="uk-card-body">
              <div class="uk-margin">
                <label class="uk-form-label" for="person">Add a Person:</label>
                <input id="person"
                       class="uk-input uk-width-1-1"
                       type="text"
                       placeholder="Search for a person"
                       ref="peoplequery"
                       v-model="queries.people">
              </div>

              <ul class="uk-list uk-list-large" v-if="episode.people.length > 0">
                <li v-for="person in episode.people" :key="person.id">
                  <div class="uk-button uk-form-select" data-uk-form-select>
                    <span>Name&nbsp;<i class="uk-icon-caret-down"></i></span>
                    <select class="uk-select" v-model="person.pivot.role">
                      <option v-for="p in peopleRoles" v-bind:value="p.value">{{ p.text }}</option>
                    </select>
                  </div>
                </li>
              </ul>

              <p class="uk-text-muted">
                If left blank, the default series hosts will be automatically added to this episode.</p>
            </div>
          </div>

          <div class="uk-card uk-card-default uk-margin">
            <div class="uk-card-header">
              <h3 class="uk-card-title">Related</h3>
            </div>
            <div class="uk-card-body">
              <div class="uk-margin">
                <label class="uk-form-label" for="parent">Parent:</label>
                <input id="parent"
                       class="uk-input uk-width-1-1"
                       type="text"
                       placeholder="Select the parent episode"
                       v-model="queries.related.parent">
              </div>

              <ul class="uk-list uk-list-large">
                <li v-for="parent in parents">
                  {{ parent.title }}
                </li>
              </ul>

              <div class="uk-margin">
                <label class="uk-form-label" for="fringe">Fringe:</label>
                <input id="fringe"
                       class="uk-input uk-width-1-1"
                       type="text"
                       placeholder="Select the fringe episode"
                       v-model="queries.related.fringe">
              </div>

              <ul class="uk-list uk-list-large">
                <li v-for="fringe in fringes">
                  {{ fringe.title }}
                </li>
              </ul>
            </div>
          </div>

          <div class="uk-card uk-card-default uk-margin">
            <div class="uk-card-header">
              <h3 class="uk-card-title">Media</h3>
            </div>
            <div class="uk-card-body">
              <div class="uk-margin">
                <button class="uk-button uk-button-primary">New MP3 Media</button>
              </div>

              <ul class="uk-list uk-list-large">
                <li v-for="media in episode.media">
                  <div class="uk-margin">
                    <label class="uk-form-label" for="media">{{ media.type | uppercase }}:</label>
                    <input id="media"
                           class="uk-input uk-width-1-1"
                           type="text"
                           placeholder="Paste MP3 URL"
                           v-model="media.url">
                  </div>
                  <div class="uk-margin" v-if="media.length && media.size">
                    {{media.length}} | {{media.size}}
                  </div>
                  <div class="uk-margin">
                    <button class="uk-button uk-button-primary">Update</button>
                  </div>
                </li>
              </ul>
            </div>
          </div>

          <div class="uk-card uk-card-default uk-margin">
            <div class="uk-card-header">
              <h3 class="uk-card-title">Album Art</h3>
            </div>
            <div class="uk-card-body">
              <div class="uk-margin">
                <div uk-form-custom="target: > * > span:first">
                  <select v-model="episode.album_art_id">
                    <option v-for="a in art" :value="a.value">{{ a.text }}</option>
                  </select>
                  <button class="uk-button uk-button-default" type="button" tabindex="-1">
                    <span></span>
                    <span uk-icon="icon: chevron-down"></span>
                  </button>
                </div>
              </div>
              <p class="uk-text-muted">
                Select specific album art for this episode, otherwise the default series album art will be used.</p>
            </div>
          </div>

          <div class="uk-card uk-card-default">
            <div class="uk-card-header">
              <h3 class="uk-card-title">Other</h3>
            </div>
            <div class="uk-card-body">
              <div class="uk-margin">
                <label class="uk-form-label" for="notes">Episode Notes:</label>
                <textarea id="notes"
                          class="uk-textarea uk-width-1-1"
                          rows="5"
                          v-model="episode.notes"></textarea>
              </div>
              <p class="uk-text-muted">Private notes on this episode.</p>

              <div class="uk-margin">
                <label class="uk-form-label" for="external-notes">External Show Notes<span
                  v-if="episode.external_notes_url">&nbsp;<a :href="episode.external_notes_url"
                                                             target="_blank">Open</a></span>:</label>
                <input id="external-notes"
                       class="uk-input uk-width-1-1"
                       type="text"
                       placeholder="drive.google.com"
                       v-model="episode.external_notes_url">
              </div>
            </div>
          </div>
        </div>

        <div class="uk-width-1-4@s">
          <div class="uk-card uk-card-default">
            <div class="uk-card-header">
              <h3 class="uk-card-title">Episode State</h3>
            </div>
            <div class="uk-card-body">
              <div class="uk-margin">
                <div uk-form-custom="target: > * > span:first">
                  <select v-model="episode.state">
                    <option v-for="s in states" :value="s.value">{{ s.text }}</option>
                  </select>
                  <button class="uk-button uk-button-default" type="button" tabindex="-1">
                    <span></span>
                    <span uk-icon="icon: chevron-down"></span>
                  </button>
                </div>
                <button class="uk-button uk-button-primary">Save</button>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</template>
<style lang="scss" src="@/styles/vue-multiselect.css">
  pre {
    max-width: 500px;
    overflow-x: auto;
  }
</style>
<script>
  import api from '../../api'
  import Header from '../partials/Header.vue'
  import Multiselect from 'vue-multiselect'
  export default {
    data () {
      return {
        episode: {
          id: null,
          title: null,
          subtitle: null,
          number: null,
          state: 'draft',
          hidden: false,
          unlisted: false,
          nsfw: false,
          created_at: null,
          updated_at: null,
          published_at: null,
          content: '',
          description: '',
          notes: '',
          external_notes_url: null,
          series: null,
          related: [],
          people: [],
          media: []
        },
        states: [
          {text: 'Draft', value: 'draft'},
          {text: 'Preview', value: 'preview'},
          {text: 'Scheduled', value: 'scheduled'},
          {text: 'Published', value: 'published'}
        ],
        peopleRoles: [
          {text: 'Guest', value: 'guest'},
          {text: 'Host', value: 'host'}
        ],
        series: [],
        related: [],
        people: [],
        parents: [],
        fringes: [],
        art: [],
        meta: {
          valid: false,
          debug: true,
          mode: 'create'
        },
        queries: {
          people: '',
          related: {
            parent: '',
            fringe: ''
          }
        }
      }
    },
    components: {
      'app-header': Header,
      Multiselect
    },
    created () {
      // always get the series
      this.getSeries()
        .then(response => {
          this.series = response.data
          // if we're editing an existing episode...
          if (this.$route.params.id !== undefined) {
            // get the episode
            this.getEpisode(this.$route.params.id)
              .then(response => {
                this.episode = {...this.episode, ...response.data}
              })
          }
        })
    },
    methods: {
      getSeries: () => {
        return api.getSeries()
      },

      getEpisode: id => {
        return api.getEpisode(id)
      }
    },
    computed: {
      nullEpisodeTitle: () => {
        return this.episode === undefined || this.episode.title === '' || this.episode.title === null
      }
    }
  }
</script>
