<template>
  <div>
    <app-header></app-header>
    <div class="uk-container">
      <h1 class="uk-heading-primary uk-heading-divider">All Episodes
        <router-link to="/episode/add" exact class="uk-align-right"><span uk-icon="icon: plus"></span>New Episode
        </router-link>
      </h1>

      <pre>//TODO: paginate...</pre>
      <div v-if="episodes.length > 0">
        <ul v-for="episode in episodes">
          <li>
            <div class="uk-card uk-card-default">
              <div class="uk-card-header">
                <h3 class="uk-card-title">
                  <router-link :to="{ name: 'Episode Editor', params: { id: episode.id }}">{{ episode.series.name
                    }} #{{ episode.number }}: {{ episode.title }}
                  </router-link>
                </h3>
                <div class="uk-card-badge uk-label">New</div>
              </div>
              <div class="uk-card-body">
                <h4>{{ episode.subtitle }}</h4>
                <p>{{ episode.description }}</p>
                <!--<div v-html="episode.content"></div>-->
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</template>
<style scoped>
  ul {
    padding: 0;
    list-style-type: none;
  }
</style>
<script>
  import api from '../../api'
  import Header from '../partials/Header.vue'
  export default{
    data () {
      return {
        episodes: []
      }
    },
    components: {
      'app-header': Header
    },
    created () {
      this.getALLEpisodes()
    },
    methods: {
      getALLEpisodes: function () {
        api.getEpisodes()
          .then(response => {
            this.episodes = response.data
          })
      }
    }
  }
</script>
