<template>
  <nav class="uk-navbar uk-navbar-container uk-margin-bottom" uk-navbar>
    <div class="uk-navbar-left">
      <router-link to="/" exact class="uk-logo" active-class="uk-active" id="logo-brand">The Nexus</router-link>
      <ul class="uk-navbar-nav">
        <li>
          <router-link to="/series" exact class="uk-navbar-item" active-class="uk-active">Series</router-link>
        </li>
        <li>
          <router-link to="/episodes" exact class="uk-navbar-item" active-class="uk-active">Episodes</router-link>
        </li>
        <li>
          <router-link to="/people" exact class="uk-navbar-item" active-class="uk-active">People</router-link>
        </li>
        <li>
          <router-link to="/art" exact class="uk-navbar-item" active-class="uk-active">Art</router-link>
        </li>
      </ul>
    </div>
    <div class="uk-navbar-right">
      <ul class="uk-navbar-nav">
        <li>
          <router-link to="#" class="uk-navbar-item">Hello, {{ userName }}</router-link>
        </li>
        <li>
          <router-link to="/logout" exact class="uk-navbar-item">Logout</router-link>
        </li>
      </ul>
    </div>
  </nav>
</template>
<style lang="scss">
  .uk-navbar {
    #logo-brand {
      margin-left: 60px;
    }

    #logo-brand:before {
      width: 40px;
      height: 36px;
      position: absolute;
      left: 0;
      background: url(../../assets/logo-gray.svg) no-repeat center/36px 36px;
      content: ' ';
      margin-right: 40px;
      margin-left: 10px;
    }

    &:hover #logo-brand:before {
      background-image: url(../../assets/logo.svg);
    }

    #logo-brand.idle:before {
      -webkit-animation-name: logo-rotate;
      -webkit-animation-duration: 30s;
      -webkit-animation-iteration-count: infinite;
      -webkit-animation-timing-function: linear;
      animation-name: logo-rotate;
      animation-duration: 30s;
      animation-iteration-count: infinite;
      animation-timing-function: linear
    }
  }

  @-webkit-keyframes logo-rotate {
    from {
      -webkit-transform: rotate(0deg)
    }
    to {
      -webkit-transform: rotate(360deg)
    }
  }

  @keyframes logo-rotate {
    from {
      transform: rotate(0deg)
    }
    to {
      transform: rotate(360deg)
    }
  }
</style>
<script>
  export default {
    name: 'app-header',
    data () {
      return {
        userName: 'OAuth User'
      }
    },
    created () {
      setTimeout(
        function () {
          document.getElementById('logo-brand').classList.add('idle')
        }, 3 * 60 * 1000)
    }
  }
</script>
