<template>
  <div>
    <app-header/>
    <div class="uk-container">
      <div>{{ msg }}</div>
      <button class="uk-button uk-button-default" @click="testAsyncCall">Testing Async Call</button>

      <div v-if="series.length > 0">
        <ul v-for="serie in series">
          <li>{{ serie.name }}</li>
        </ul>
      </div>
    </div>
  </div>
</template>
<style>

</style>
<script>
  import api from '../api'
  import Header from './partials/Header'
  export default {
    name: 'dashboard',
    data () {
      return {
        msg: 'fancy shmancy dashboard',
        series: []
      }
    },
    components: {
      'app-header': Header
    },

    methods: {

      testAsyncCall: function () {
        api.getSeries()
          .then(response => {
            console.log(response)
            this.series = response.data
          })

        console.log('big week')
      }

    }
  }
</script>
