<template>
  <div class="landing">
    <router-link to="/" exact>
      <img class="logo" src="../assets/logo.svg" alt="logo">
    </router-link>
    <h1>The Nexus&trade; CMSv{{ version }}</h1>
    <h2>{{ greeting }}</h2>
    <div>{{ msg }}</div>
    <div>
      <router-link to="/login" exact>Login</router-link>
      <router-link to="/dashboard" exact>Dashboard</router-link>
    </div>
  </div>
</template>
<style lang="scss" scoped>
.landing {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

  .logo {
    height: 200px;
    width: 200px;
  }
}
</style>
<script>
  import pjson from '../../package.json'
  import reticulate from 'reticulating-splines'

  export default {
    data () {
      return {
        msg: 'This is the landing page. If not logged in, this should redirect to /login, if logged in this should redirect to /dashboard.',
        greeting: reticulate.random(),
        version: pjson.version
      }
    },
    created () {
      setInterval(() => {
        this.greeting = reticulate.random()
      }, 5000)
    }
  }
</script>
