<template>
  <div class="login">
    <pre>{{ msg }}</pre>
    <h2>Login</h2>
  </div>
</template>

<script>
  export default {
    name: 'login',
    data () {
      return {
        msg: 'TODO: Add authentication'
      }
    }
  }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
  .login {
    text-align: center;
  }

  h1, h2 {
    font-weight: normal;
  }

  ul {
    list-style-type: none;
    padding: 0;
  }

  li {
    display: inline-block;
    margin: 0 10px;
  }

  a {
    color: #42b983;
  }
</style>
